loguru
numpy
ezkfg
torch==2.2.1
torchvision==0.17.1
transformers==4.34.1
tensorboard
tqdm
pycocoevalcap
pandas
scipy
setuptools==59.5.0
timm==0.4.12
fairscale==0.4.4
sentencepiece
accelerate
bitsandbytes
peft
lightning==2.0.5
scikit-learn
pyclustering